In [ ]:
1. Read a long text in to string that contains some punctuation marks also.
2. Convert to lower case.
3. Remove Punctuation marks.
4. Split it in to words using split() function.
5. Make a dictionary with each unique word as the key and its value being the number
Convert the dict to dataframe and print it.

In [5]:
import pandas as pd
import string
text = """ Read a long text in to string that contains some punctuation marks also.It is used to demonstrate
Convert to lower case. Remove Punctuation marks."""
print(text)

 Read a long text in to string that contains some punctuation marks also.It is used to demonstrate
Convert to lower case. Remove Punctuation marks.

In [7]:
text = text.lower()
text

' read a long text in to string that contains some punctuation marks also.it is used to demonstrate\nconvert to lower case. remove punctuation marks.'

In [13]:
text = text.translate(str.maketrans("","", string.punctuation))
text

' read a long text in to string that contains some punctuation marks alsoit is used to demonstrate\nconvert to lower case remove punctuation marks'

In [24]:
wor

['Hello,', '"How', 'are', 'you"']

In [26]:
punc_marks = [' " ',',','?']
text = 'Hello, "How are you"'
print(text)

Hello, "How are you"

In [ ]:
words = text.split()
words